/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

/* common type styling */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header section styling */
.new_year{
    width: 80%;
    max-width: 1320px;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
}
.new_year .new_year_content{
    padding: 177px 344px;
}
.new_year .new_year_content .new_year_greeting{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.new_year .new_year_content .new_year_title{
    color: #FFF;
    text-align: center;
    max-width: 600px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* deals section styling */
.deals{
    text-align: center;
    margin: 120px auto;
}
.deals .deals_title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.deals .better_deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.deals .deals_categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* welcome section styling */
.welcome{
    width: 80%;
    max-width: 1320px;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.welcome .welcome_content{
    padding: 126px 552px 142px 126px;
}
.welcome .welcome_content .welcome_title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}
.welcome .welcome_content .welcome_description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.welcome .welcome_content .join_now_btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

/* new park hotel section styling */
.new_park_hotel{
    width: 80%;
    max-width: 1320px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px auto;
    border-radius: 16px;
}
.new_park_hotel .new_park_hotel_content{
    text-align: center;
    padding: 100px 385px;
}
.new_park_hotel .new_park_hotel_content .container{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 48px;
}
.new_park_hotel .new_park_hotel_content .container .red{
    color: #F00;
}
.new_park_hotel .new_park_hotel_content .join_now_btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background: #F00;
}

/* offer section styling */
.best_offer{
    width: 80%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 100px auto;
}
.best_offer .offer_content .offer_content_title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.best_offer .offer_content .offer_content_greeting{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 32px;
}
.best_offer .offer_content .offer_content_description{
    max-width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.best_offer .image_content img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
}
.best_offer .happy_content .happy_content_title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.best_offer .happy_content .happy_content_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 300px;
}

/* holiday section styling */
.holiday{
    width: 80%;
    max-width: 1320px;
    margin: 100px auto;
}
.holiday .holiday_content{
    text-align: center;
}
.holiday .holiday_content .holiday_heading{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.holiday .holiday_content .holiday_title{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.holiday .holiday_content .holiday_description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 68px;
}
.holiday .images{
    position: relative;
}
.holiday .images .image1{
    position: absolute;
    right: 0;
    top: 10px;
}
.holiday .images .image2{
    position: absolute;
    bottom: 0;
}
.holiday .images .image3{
    position: relative;
    z-index: 999;
}
.holiday .images .image4{
    position: relative;
    bottom: 280px;
    right: 55px;
    z-index: 999;
}

/* best gift section styling */
.best_gift{
    width: 80%;
    max-width: 1320px;
    margin: 100px auto;
}
.best_gift .best_gift_heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.best_gift .best_gift_title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 32px;
}
.best_gift .best_gift_description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.best_gift .image_container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* newsletter section styling */
.newsletter{
    width: 80%;
    max-width: 1320px;
    margin: 100px auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}
.newsletter img{
    margin-bottom: 40px;
}
.newsletter .newsletter_title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.newsletter .newsletter_description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 212px;
    margin-top: 20px;
    margin-bottom: 48px;
}
.newsletter .user_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    border-radius: 50px;
    background: #FFF;
    margin: 0 auto;
}
.newsletter .user_content .user{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 30px;
}
.newsletter .user_content .subscribe{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

/* footer section styling */
.footer{
    width: 100%;
    max-width: 1600px;
    background: #070211;
    padding: 120px 140px;
    margin: 0 auto;
}
.footer .address_content{
    display: flex;
    justify-content: space-between;
}
.footer .address_content .street_address p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer .address_content .link_address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 150px;
}
.footer .address_content .link_address .telephone, .website{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.footer .address_content .link_address img{
    margin-right: 16px;
}
.horizontal_line{
    margin: 50px auto;
}
.footer .social_media_link{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.footer .rights{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

