/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

/* common type styling */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header section styling */
.new_year{
    width: 80%;
    max-width: 1320px;
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
}
.new_year .new_year_content{
    padding: 177px 344px;
}
.new_year .new_year_content .new_year_greeting{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.new_year .new_year_content .new_year_title{
    color: #FFF;
    text-align: center;
    max-width: 600px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* deals section styling */
.deals{
    text-align: center;
    margin: 120px auto;
}
.deals .deals_title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.deals .better_deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.deals .deals_categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* welcome section styling */
.welcome{
    width: 80%;
    max-width: 1320px;
    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.welcome .welcome_content{
    padding: 126px 552px 142px 126px;
}
.welcome .welcome_content .welcome_title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}
.welcome .welcome_content .welcome_description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.welcome .welcome_content .join_now_btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 32px;
    border: none;
    background-color: transparent;
}
